/*header syles */

h1 {
    text-align: center;
    
    text-shadow: 1px 1px 3px grey;
    color: #fcc201;
}
h3{
    text-align: center;
    text-shadow: 1px 1px 3px grey;
    color: #0086c6;
    font-style: oblique;

}
.row{
    display: center;
    text-align: center;
    
}

/* 6 day forecast display */
.six-columns{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    
}
/* current forecast styles */
.currentUl{
    padding: 50px;
}
li{
    list-style:none;
}


.currentBox {
    display: inline-flex;
    justify-content: space-between;
    margin:50px;
    background: lightskyblue;
    border-radius: 20px;
}

.currentIcon {
    padding:0px 200px;
}



.forecastBox {
    margin:10px;
    padding: 20px;
}
/* wiki styles */

.wikiCard{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 600px;
    justify-content: space-evenly;
    align-items: baseline;
}

.img{
    padding:20px;
}

.forcastStyle {
    background: lightskyblue;
    border: solid 5px lightskyblue;
    border-radius: 20px;
}
.locationStyle {
    background: indianred;
}
.img
    {padding:20px;
}

/* media queries */

@media (max-width: 900px) {
    .six-columns{
        display: list-item;
    }
    .locationData{
        display:list-item ;
    }
    .currentBox{
        display: block;
    }
    .currentIcon{
        display: center;
        padding: 0;
    }

}