h1 {
    text-align: center;
}
.currentW {
    text-align: center;
}
.row{
    display: center;
    text-align: center;
    
}


.six-columns{
    display: inline-flex;
    justify-content: space-between;
    
}

li{
    list-style: none;
}





@media (max-width: 900px) {
    .six-columns{
        display: list-item;
    }

}